fastapi
gunicorn
requests
uvicorn[standard]
python-dotenv
validator
python-dotenv
click
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.49.1 # not directly required, pinned by Snyk to avoid a vulnerability